[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
requests-mock = "*"
black = "==21.7b0"
isort = "*"
flake8 = "*"
bandit = "*"
coveralls = "*"
pytest-cov = "*"

[packages]
requests = "*"
structlog = "*"
attrs = "*"
click = "*"
lxml = "*"


[requires]
python_version = "3.9"

[scripts]
dsaps = "python -c \"from dsaps.cli import main; main()\""
