[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
requests-mock = "*"
black = "*"
isort = "*"
flake8 = "*"
bandit = "*"
coveralls = "*"
pytest-cov = "*"

[packages]
requests = "*"
structlog = "*"
attrs = "*"
click = "*"
lxml = "*"
smart-open = {extras = ["s3"], version = "*"}
boto3 = "*"
moto = {extras = ["s3"], version = "*"}

[requires]
python_version = "3.9"

[scripts]
dsaps = "python -c \"from dsaps.cli import main; main()\""
