[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
requests-mock = "*"
coverage = "*"

[packages]
requests = "*"
structlog = "*"
attrs = "*"
click = "*"
lxml = "*"

[requires]
python_version = "3.8"

[scripts]
dsaps = "python -c \"from dsaps.cli import main; main()\""
